body {
	background-color: #0F0;
	font-family: 'Georgia';
	font-weight: bold;
	font-style: italic;
	color: #DDD;
	font-size: 32pt;
	height: 480px;
	margin: 0;
	padding: 0;
}

#wrapper {
  background-color: #0F0;
	/* background-image: url("/images/background.jpg"); */
	height: 768px;
	width: 1024px;
	display: block;
	position: relative;
}

#billboard {
	text-align: center;
	position: absolute;
	top: 200px;
	left: 62px;
	width: 900px;
}
