body {
	background-color: #0F0;
	font-family: 'Georgia';
	font-weight: bold;
	font-style: italic;
	color: #FFF;
	font-size: 48pt;
	height: 480px;
	margin: 0;
	padding: 0;
    text-shadow: black 0.1em 0.1em 0.2em
}

#wrapper {
    /* background-color: #0F0; */
	background-image: url("/images/background.jpg");
	height: 1080px;
	width: 1920px;
	display: block;
	position: relative;
}

#billboard {
	text-align: center;
	position: absolute;
	top: 500px;
	left: 160px;
	width: 1600px;
}
